// These colors are specific to the theme. Do not use in a package!
@very-light-gray: #cdd0da;
@light-gray: #a5a8b2;
@gray: #3a3841;
@dark-gray: #26242d;
@very-dark-gray: #121019;
@cyan: #F2ACAD;
@blue: #E19895;
@purple: #CDADB3;
@green: #AB9AA6;
@red: #9396AD;
@orange: #B1A7B2;
@light-orange: #B1A7B2;
